body {}

#lichess-hide {
  float: right;
  position: relative;
}

#lichess-hide a:after { content: ' ☐'; }
#lichess-hide a.on:after { content: ' ☑'; }

body.lichess-hide .watchers,
body.lichess-hide .side_box .players,
body.lichess-hide .lichess_ground .user_link {
  visibility: hidden;
}

body.lichess-hide .lichess_ground .status {
  visibility: visible;
}
