#lichess-hide {
  float: right;
  position: relative;
}

#lichess-hide a:after { content: ' ☐'; }
#lichess-hide a.on:after { content: ' ☑'; }

body.lichess-hide .watchers,
body.lichess-hide .side_box .players,
body.lichess-hide .lichess_ground .user_link,
body.lichess-hide .crosstable,
body.lichess-hide .vstext .left,
body.lichess-hide .vstext .right,
body.lichess-hide .confrontation {
  visibility: hidden;
}

body.lichess-hide .lichess_ground .status {
  visibility: visible;
}
